Dane są następujące funkcje:

def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2
Napisz funkcję, która stanie się wspólnym interfejsem dla tych funkcji. Niech nowa funkcja nazywa sie generate_values i:

jako pierwszy argument przyjmuje nazwę funkcji (jedną z wyżej wymienionych)

jako drugi argument przyjmuje listę liczb, dla których ma być wyznaczona wartość

ta funkcja powinna wygenerować wartość dla każdej wartości z listy z poprzedniego punktu i zwrócić listę z wynikami

Przetestuj funkcję wywołując:

x_table = list(range(11))
 
print(generate_values(double, x_table))
print(generate_values(square, x_table))
print(generate_values(negative, x_table))
print(generate_values(div2, x_table))

In [1]:
def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2

In [5]:
def generate_values(name_of_function,list_of_people):
  result=[]
  for value in list_of_people:
    value2 = name_of_function(value)
    result.append(value2)
  return result

In [6]:
x_table = list(range(11))
 
print(generate_values(double, x_table))
print(generate_values(square, x_table))
print(generate_values(negative, x_table))
print(generate_values(div2, x_table))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [4]:
###inaczej
def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2
 
 
def generate_values(how, x_table):
 
    value_list = []
    
    for x in x_table:
        value_list.append(how(x))
 
    return value_list
 
 
x_table = list(range(11))
 
print(generate_values(double, x_table))
print(generate_values(square, x_table))
print(generate_values(negative, x_table))
print(generate_values(div2, x_table))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]