W tym zadaniu zbudujesz proces służący do budowy łańcucha transformacji danych liczbowych.

1. Utwórz w swoim skrypcie następujące funkcje:

def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2
2. Zdefiniuj liczbę number o wartości 8

3. Zdefiniuj listę transformations składającą sie z funkcji:

double

square

div2

negative

4. Do tymczasowej zmiennej tmp_return_value wpisz wartość number

5. Napisz pętlę, która:

przejdzie przez wszystkie pozycje listy transformations

za każdym razem wywoła odpowiednią funkcję, przekazując do niej aktualną wartość argumentu tmp_return_value

wyświetli aktualną wartość zmiennej tmp_return_value

6. Przetestuj działanie skryptu również dla listy transformacji z operacjami:

square

square

div2

double

In [1]:
def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2

In [9]:
number=8
transformations=[double,square,div2,negative]
tmp_return_value=number

for i in transformations:
    tmp_return_value=i(tmp_return_value)
    print(tmp_return_value)

16
256
128.0
-128.0

In [10]:
lists=[square,square,div2,double]
number=256
tmp_return_value=number

for i in lists:
    tmp_return_value=i(tmp_return_value)
    print(tmp_return_value)

65536
4294967296
2147483648.0
4294967296.0

In [8]:
###inaczej
def double(x):
    return 2 *x
 
def square(x):
    return x**2
 
def negative(x):
    return -x
 
def div2(x):
    return x/2
 
number = 8
transformations = [double, square, div2, negative]
 
print('Starting transformations')
tmp_return_value = number
for transformation in transformations:
 
    tmp_return_value = transformation(tmp_return_value)
    print('{}: temporal result is {}'.format(transformation.__name__, tmp_return_value))
 
number = 125
transformations = [square, square, div2, double]
      
print('Starting transformations')
tmp_return_value = number
for transformation in transformations:
 
    tmp_return_value = transformation(tmp_return_value)
    print('{}: temporal result is {}'.format(transformation.__name__, tmp_return_value))

Starting transformations
double: temporal result is 16
square: temporal result is 256
div2: temporal result is 128.0
negative: temporal result is -128.0
Starting transformations
square: temporal result is 15625
square: temporal result is 244140625
div2: temporal result is 122070312.5
double: temporal result is 244140625.0